<header>
    <div class='problem-header'>
      <div class='problem-header-title'>
        <%= @problem.title %>
      </div>
    </div>
</header>
<div class='score-create'>
  <div class='score-create-info'>
    <div class='score-create-text'><%= @problem.text %></div>
  </div>
  <div class='scores-main'>
    <div class='scores-info'>
      <div class='score-sum'>
        <span>■合計 <%= @sum %>点</span>
      </div>
      <div class='score-up'>
        <span>■強み</span>
        <% @scores_up.each do |up| %>
          <%= up.division[:text] %>
        <% end %>
      </div>
      <div class='score-down'>
        <span>■その他</span>
        <% @scores_down.each do |down| %>
          <%= down.division[:text] %>
        <% end %>
      </div>
    </div>
    <div class='scores-main-chart'>
      <%= render 'shared/radar_chart', model: @scores_js %>
    </div>
  </div>
</div>