<h1>
  <%= @problem.title %>
</h1>

<h2>
  <%= @problem.text %>
</h2>
<br>
<div class='main'>
  <%= form_with model: [@problem,@answers], url: problems_path, local: true do |answers| %>
    <%# エラーメッセージの部分テンプレート呼び出し %>
    <div class='question-contents'>
      <ul class='question-lists'>
        <%# 部分テンプレートで、質問一覧を表示する %>
        <%# <%= render partial: "question", collection: @questions%>
        <% count = 0 %>
        <%= answers.fields_for :answers do |f| %>
          <li class='list'>
            <div class='question'>
              <%# 項番 %>
              <%= @questions[count].number %>.
              <%# 質問文 %>
              <%= @questions[count].text %>
              <br>
              <%# ラジオボタンの繰り返し %>
              <div class='question-radio'>
                <% @questions[count].valuation.times do |num| %>
                  <%# ラジオボタン %>
                  <%= f.radio_button :answer, 5-num %>
                  <%= f.label "answer_#{5-num}", '★' %>
                <% end %>
              </div>
              <%= f.hidden_field  :question_id, value: @questions[count].id %>
            </div>
          </li>
        <%= render 'shared/error_messages', model: f.object %>
        <% count += 1 %>
        <% end %>
      </ul>
    </div>
    <br>
    <input name="id" type="hidden" value=<%= @problem.id %>>
    <%= answers.submit '回答' %>
  <% end %>
</div>


