<header>
    <div class='problem-header'>
      <div class='problem-header-title'>
        <%= @problem.title %>
      </div>
    </div>
</header>
<div class='problem-show'>
  <%= form_with local: true do |f| %>
    <div class='ruyou-main'>
      <%= f.submit '賢者' ,class: 'kenja-btn'%>
      <% if user_signed_in? && !@problem.scores.where(count: 1, user: current_user.id).blank? %>
        <%= f.submit '最新' ,class: 'new-btn'%>
        <%= f.submit '自己ベスト' ,class: 'up-btn'%>
      <% end %>
    </div>
  <% end %>
  <div class='problem-show-info'>
    <div class='problem-show-text'><%= @problem.text %></div>
  </div>
  <div class='main'>
    <%= form_with model: [@problem,@answers], url: problems_path, local: true do |answers| %>
      <ul class='question-lists'>
        <% count = 0 %>
        <%= answers.fields_for :answers do |f| %>
          <li class='question-list'>
            <div class='question-info'>
              <%# 項番 %>
              <%= @questions[count].number %>.
              <%# 質問文 %>
              <%= @questions[count].text %>
              <br>
              <%# ラジオボタンの繰り返し %>
            </div>
            <div class='question-radio'>
              <% if f.object.errors.any? %>
                <div class='question-error'>選択してください。</div>
              <% end %>
              <% @questions[count].valuation.times do |num| %>
                <%# ラジオボタン %>
                <%= f.radio_button :answer, @questions[count].valuation-num %>
                <%= f.label "answer_#{@questions[count].valuation-num}", '★' %>
              <% end %>
            </div>
            <%= f.hidden_field  :question_id, value: @questions[count].id %>
          </li>
          <% count += 1 %>
        <% end %>
      </ul>
      <input name="id" type="hidden" value=<%= @problem.id %>>
      <%= answers.submit '診断スタート' ,class: 'question-submit'%>
    <% end %>
  </div>
</div>


