<header>
    <div class='problem-header'>
      <div class='problem-header-title'>
        <%= @problem.title %>
      </div>
    </div>
</header>
<div class='problem-show'>
  <div class='problem-show-info'>
    <div class='problem-show-text'><%= @problem.text %></div>
  </div>
  <div class='main'>
    <%= form_with model: [@problem,@answers], url: problems_path, local: true do |answers| %>
      <ul class='question-lists'>
        <% count = 0 %>
        <%= answers.fields_for :answers do |f| %>
          <li class='question-list'>
            <div class='question-info'>
              <%# 項番 %>
              <%= @questions[count].number %>.
              <%# 質問文 %>
              <%= @questions[count].text %>
              <br>
              <%# ラジオボタンの繰り返し %>
            </div>
            <div class='question-radio'>
              <% if f.object.errors.any? %>
                <div class='question-error'>選択してください。</div>
              <% end %>
              <% @questions[count].valuation.times do |num| %>
                <%# ラジオボタン %>
                <%= f.radio_button :answer, 5-num %>
                <%= f.label "answer_#{5-num}", '★' %>
              <% end %>
            </div>
            <%= f.hidden_field  :question_id, value: @questions[count].id %>
          </li>
          <% count += 1 %>
        <% end %>
      </ul>
      <input name="id" type="hidden" value=<%= @problem.id %>>
      <%= answers.submit '診断スタート' ,class: 'question-submit'%>
    <% end %>
  </div>
</div>


