<header>
    <div class='problem-header'>
      <div class='problem-header-title'>
        <%= @scores[0].problem.title %>
      </div>
    </div>
</header>
<div class='problem-show'>
  <div class='problem-show-info'>
    <div class='problem-show-text'><%= @scores[0].problem.text %></div>
  </div>
  <div class='score-bar-main'>
    <div class='score-bar-info'>
      <div class='scores-bar'>
          <ul class='scores-bar-list'>
              <li>■１回目</li>
              <li>○○点</li>
              <li>⬆︎⬆︎</li>
          </ul>
      </div>
    </div>
    <div class='scores-main-bar'>
      <%= render 'shared/bar_chart', model: @sum_list_js %>
    </div>
  </div>
  <% count = 0%>
  <% @scores_js.each do |score_js| %>
    <div class='score-count'>
      <div class='score-count-text'><%= "■#{@sum_list.keys[count]}回目" %></div>
    </div>
    <div class='scores-main'>
      <div class='scores-info'>
        <div class='score-sum'>
          <ul class='score-sum-list'>
            <li>■合計</li>
            <li class='score-point'><%= " 点" %></li>
          </ul>
        </div>
        <div class='score-up'>
          <div class='score-up-text'>■強み</div>
        </div>
        <div class='score-down'>
          <div class='score-down-text'>■その他</div>
        </div>
      </div>
      <div class='scores-main-chart'>
        <%= render 'shared/radar_chart', model: score_js %>
      </div>
    </div>
    <% count += 1 %>
  <% end %>
</div>
